# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

/windows/flutter/generated_*.h
/windows/flutter/generated_*.cc
/windows/flutter/generated_config.h
/windows/runner/generated_config.h

/linux/flutter/generated_*.h
/linux/flutter/generated_*.cc
/linux/flutter/generated_config.h
/linux/runner/generated_config.h

/macos/flutter/generated_*.h
/macos/flutter/generated_*.cc
/macos/flutter/generated_config.h
/macos/Runner/generated_config.h

/build/
/android/build/
/ios/build/